<!DOCTYPE html>
<htm lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;400;700" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/modal.css">

    <link rel="stylesheet" href="styles/responsive.css">
</head>
<body>
    <div id="home">
        <div class="content">
            <header class="container">
                <img src="/assets/logo.svg" alt="Ecoleta" class='item'>
                <a href="create-point" class="item">
                    <span></span>
                    Cadastre um ponto de coleta
                </a>
            </header>

            <main>
                <h1>Seu marketplace de coleta de resíduos</h1>
                <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente!</p>
                <a id='pesquisar-pontos' href='#'>
                    <span></span>
                    <strong>Pesquisar ponto de coleta</strong>   
                </a>
            </main>
            
        </div>
        <div id="modal" class='hide'>
            <div id="content">
                <div class="header">
                    <h1>Pontos de coleta</h1>
                    <a href="#" id='fechar-modal'>Fechar</a>
                </div>
                <form action="search-result">
                    <div class="search-field">
                        <input type="text" placeholder="Cidade" required>
                        <input type="text" placeholder="Estado" required>
                    </div>
                    <button> 
                        <img src="/assets/search.svg" alt="buscar">
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src='/scripts/index.js'></script>
</body>
</htm>