#create-point {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#create-point header {
    margin-top: 40px;
    align-items: center;
    justify-content: space-between
}

#create-point header a {
    display: flex;
    color: var(--text-color);
    font-weight: bold;
}

#create-point header a span {
    margin-right: 5px;
    display: flex;
    background-image: url('../assets/arrow-left.svg');
    margin-right: 5px;
    width: 20px;  
    height: 20px;  
}

#create-point form {
    background-color: rgb(255, 255, 255);
    padding: 64px;
    margin-top: 35px;
    border-radius: 8px;
    min-width: 100px;
}

#create-point form h1{
    margin-bottom: 30px;
}

#create-point form legend h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#create-point form legend {
    margin-top: 30px;
    margin-bottom: 15px;
}

#create-point form .field label {
    margin-bottom: 15px;
    font-weight: 700;
    color: #3a4e3a;
}

#create-point form .field input, form field select {
    margin-top: 5px;
    border: 0;
    padding: 16px 24px;
    font-size:15px;
    background-color: rgb(211, 233, 211);
}

#create-point form .field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#create-point .field {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 24px;
}

#create-point .field-group {
    display: flex;
}

#create-point form .field-group .field + .field {
    margin-left: 30px;
}

#create-point form button {
    height: 55px;
    width: 250px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: var(--secondary-color);
    margin-top: 50px;
}

.grid-itens {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 20px;
}

.grid-itens li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: var(--primary-color);
    list-style: none;
    border: 2px rgb(136, 202, 136);
    border-radius: 8px;
    height: 180px;
    padding: 30px 20px 10px;
    text-align: center;
    cursor: pointer;
}

.grid-itens img{
    margin-top: 20px;
    pointer-events: none;
}

.grid-itens span{
    margin-bottom: 30px;
    font-weight: 700;
    pointer-events: none;
}

.grid-itens li.sel {
    background-color: rgb(166, 245, 156);
    border: 2px solid rgb(0, 255, 42);
}
