:root {
    --primary-color: #c1f0b8;
    --secondary-color: #78d366;
    --text-color: #1f1d3f;
    --font: 'Ubuntu', sans-serif;
    --sec-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font);
    color: var(--text-color);
    margin-top:0;
}

body {
    font-family: var(--font);
    background-color: var(--primary-color);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

header {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
